<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>

<h2>comments</h2>

  <div id="comments">
    <%= render @post.comments %>
  </div>

  <%= render 'comments/new', post: @post %>
</div>
